<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Sign Up</title>
</head>
<body>
  <form>
    <form action="RecipeServlet" method="post">
      First Name: <input type="text" name="firstName"><br>
      Last Name: <input type="text" name="lastName"><br>
      Username: <input type="text" name="username"><br>
      Password: <input type="password" name="password"><br>
      Email: <input type="text" name="email"><br>
      <input type="submit" value="Sign up" name="signup">
    </form>
  </form>
</body>
</html>
